{% extends 'base.html' %}
{% block content %}
<main class="login-page">
    <section>
        <h2 class="section-title">Inscrivez-vous maintenant</h2>
        <a href="{% url 'signup' %}" class="button">S'inscrire</a>
    </section>
    <section>
        <h2 class="section-title">Connectez-vous</h2>
        {% if form.errors %}
            <p>Identifiants incorrects</p>
        {% endif %}
        <form method="post" autocomplete="off" class="login-form">
            {% csrf_token %}
            {% for field in form %}
                <label for="{{ field.auto_id }}" class="hidden">{{ field.label }}</label>
                <input type="{{ field.name }}" name="{{ field.name }}" id="{{ field.auto_id }}" placeholder="{{ field.label }}" required>
            {% endfor %}
            <button type="submit" class="button">Se connecter</button>
        </form>
    </section>
</main>
{% endblock content %}