{% load static %}

<html lang="fr">
    <head>
        <title>LITReview</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <script src="https://kit.fontawesome.com/9a29e1521f.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% if user.is_authenticated %}
            <header class="header-online">
                <div class="header-title">
                    <i class="fa-solid fa-book fa-rotate-by"></i>
                    <h1>LITReview</h1>
                </div>
                <nav class="header-nav">
                    <ul class="nav-links">
                        <li><a href="{% url 'home' %}" class="link">Flux</a></li>
                        <li><a href="{% url 'posts' %}" class="link">Posts</a></li>
                        <li><a href="{% url 'subscriptions' %}" class="link">Abonnements</a></li>
                        <li>
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="link">Se deconnecter</button>
                            </form>
                        </li>
                    </ul>
                </nav>
            </header>
        {% else %}
            <header class="header-offline">
                <i class="fa-solid fa-book fa-rotate-by"></i>
                <h1>LITReview</h1>
            </header>
        {% endif %}
        {% block content %}{% endblock content %}
    </body>
</html>