{% extends 'base.html' %}
{% block content %}
    <main>
        <h2>Creer une critique</h2>
        <form method="POST" action="{% url 'create_review_with_ticket' ticket.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <article>
                <p>Vous êtes en train de poster en réponse à</p>
                <div>
                    {% if ticket.user == user %}
                        <p>Vous avez demandé une critique</p>
                    {% else %}
                        <p>{{ ticket.user }} a demandé une critique</p>
                    {% endif %}
                    <h3>{{ ticket.title }}</h3>
                    <small>{{ ticket.time_created }}</small>
                    <p>{{ ticket.description }}</p>
                    {% if ticket.image %}
                        <img src="{{ ticket.image.url }}" alt="Image de la couverture du livre / article">
                    {% endif %}
                </div>
            </article>
            <article>
                <h3>Critique</h3>
                <label for="id_headline">Titre :</label>
                {{ form.headline }}<br>
                <label for="id_rating">Note :</label>
                <select name="rating" id="id_rating" required>
                    <option value="" disabled selected>Choisissez une note</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select><br>
                <label for="id_body">Critique :</label>
                {{ form.body }}<br>
                <button type="submit">Envoyer</button>
            </article>
        </form>
    </main>
{% endblock content %}