{% extends 'base.html' %}
{% block content %}
<main class="home-page">
    <div class="button-container">
        <a href="{% url 'create_ticket' %}" class="button">Demander une critique</a>
        <a href="{% url 'create_review' %}" class="button">Creer une critique</a>
    </div>
    <section class="flux">
        <h2 class="section-title">Bienvenu {{ user.username }} !</h2>
        {% if not posts %}
            <p>Aucun post trouvé.</p>
        {% else %}
            {% for post in posts %}
                    {% if post.post_type == 'ticket' %}
                        {% include './ticket_details.html' %}
                        {% if review_already_exists != True %}
                            <a href="{% url 'create_review_with_ticket' post.id %}">Ecrire une critique</a>
                        {% endif %}
                    {% elif post.post_type == 'review' %}
                        {% include './review_details.html' %}
                    {% endif %}
            {% endfor %}
            {% include './pagination.html' %}
        {% endif %}
    </section>
</main>
{% endblock content %}