{% extends 'base.html' %}
{% block content %}
<main class="posts-page">
    <section class="posts">
        <h2>Vos posts</h2>
        {% if not posts %}
            <p>Aucun post trouvé.</p>
        {% else %}
            {% for post in posts %}
                {% if post.post_type == 'ticket' %}
                    {% include './ticket_details.html' %}
                {% elif post.post_type == 'review' %}
                    {% include './review_details.html' %}
                {% endif %}
            {% endfor %}
            {% include './pagination.html' %}
        {% endif %}
    </section>
</main>
{% endblock content %}