{% extends 'base.html' %}
{% block content %}
<main class="subscriptions-page">
    <section class="subscriptions-container">
        <h2 class="section-title">Suivre d'autres utilisateurs</h2>
        {% if error %}
            {{ error }}
        {% endif %}
        <form method="POST" action="{% url 'subscriptions' %}" autocomplete="off" class="follow-form">
            {% csrf_token %}
            <label for="id_username" class="hidden">Nom d'utilisateur :</label>
            {{ form.username }}
            <button type="submit" class="button">Suivre</button>
        </form>
    </section>
    <div class="subscriptions-list-container">
        <section class="subscriptions-container">
            <h2 class="section-title">Abonnements</h2>
            {% if not follows %}
                <p>Aucun abonnement trouvé.</p>
            {% else %}
                <ul class="subscriptions-list">
                    {% for user in follows %}
                        <li class="subscriptions-item">
                            {{ user.followed_user }}
                            <form method="POST" action="{% url 'unfollows' user.id %}">
                            {% csrf_token %}
                            <button type="submit" class="button">Désabonner</button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </section>
        <section class="subscriptions-container">
            <h2 class="section-title">Abonnés</h2>
            {% if not followers %}
                <p>Aucun abonné trouvé.</p>
            {% else %}
                <ul class="subscriptions-list">
                    {% for user in followers %}
                        <li class="subscriptions-item">{{ user.user }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </section>
    </div>
</main>
{% endblock content %}